<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReCaptchaPOCs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ReCaptchaPOCs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://www.google.com/recaptcha/api.js?render=6Ld58VgaAAAAAPIVUdwVGX1hXJyTEhXeU6_-lSvk"></script>*@

    <script>
            //grecaptcha.ready(function () {
            //    grecaptcha.execute('6Ld58VgaAAAAAPIVUdwVGX1hXJyTEhXeU6_-lSvk', { action: 'homepage' }).then(function (token) {
            //        debugger
            //        // Add your logic to submit to your backend server here.
            //        $("#inputReCAPTCHAToken").val(token);

            //    });
            //});
       
        function onSubmit(token) {

            $.post('/Home/VerifyRecaptcha?token=' + token, function () {
                alert("success");
            })
                .done(function (data) {
                    if (data.success && data.score >= 0.5) {
                        debugger
                        console.log(data.success)
                        document.getElementById("demo-form").submit();
                    }
                })
                .fail(function () {
                    alert("error");
                })
                .always(function () {
                    alert("finished");
                });
        }
        </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
